/* line 1, ../sass/login.scss */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

/* line 7, ../sass/login.scss */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* line 12, ../sass/login.scss */
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

/* line 16, ../sass/login.scss */
.form-signin .checkbox {
  font-weight: normal;
}

/* line 19, ../sass/login.scss */
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

/* line 28, ../sass/login.scss */
.form-signin .form-control:focus {
  z-index: 2;
}

/* line 31, ../sass/login.scss */
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 36, ../sass/login.scss */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
